.sortablePagePositionChange .level-0 .cell a{
  font-family: NotoRegular;
}

.sortablePagePositionChange .level-0 .cell{
  font-family: NotoRegular;
}

.sortablePagePositionChange .level-2 .cell a{
  font-family: NotoRegular;
}

.sortablePagePositionChange .level-2 .cell{
  font-family: NotoRegular;
}

.sortablePagePositionChange .level-3 .cell a{
  font-family: NotoRegular;
}

.sortablePagePositionChange .level-3 .cell{
  font-family: NotoRegular;
}

.sortablePagePositionChange .level-4 .cell a{
  font-family: NotoRegular;
}

.sortablePagePositionChange .level-4 .cell{
  font-family: NotoRegular;
}