



@font-face {
  font-family: 'GothamLight';
  src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Gotham-Light.woff') format('woff'), 
  url('../fonts/Gotham-Light.ttf')  format('truetype'), 
  url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamMedium';
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Gotham-Medium.woff') format('woff'), 
  url('../fonts/Gotham-Medium.ttf')  format('truetype'), 
  url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Gotham-Bold.otf')  format('opentype'),
  url('../fonts/Gotham-Bold.woff') format('woff'), 
  url('../fonts/Gotham-Bold.ttf')  format('truetype'), 
  url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Gotham-Book.woff') format('woff'), 
  url('../fonts/Gotham-Book.ttf')  format('truetype'), 
  url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansBold';
  src: url('../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/NotoSans-Bold.woff') format('woff'), 
  url('../fonts/NotoSans-Bold.ttf')  format('truetype'), 
  url('../fonts/NotoSans-Bold.svg#NotoSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansRegular';
  src: url('../fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/NotoSans-Regular.woff') format('woff'), 
  url('../fonts/NotoSans-Regular.ttf')  format('truetype'), 
  url('../fonts/NotoSans-Regular.svg#NotoSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaCyrBold';
  src: url('../fonts/HelveticaCyr-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/HelveticaCyr-Bold.otf')  format('opentype'),
	     url('../fonts/HelveticaCyr-Bold.woff') format('woff'), 
		 url('../fonts/HelveticaCyr-Bold.ttf')  format('truetype'), 
		 url('../fonts/HelveticaCyr-Bold.svg#HelveticaCyr-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



