@media (max-width:992px) {
	
	.Language {
		display:none
	}
	
	
	body {
		overflow-y:scroll !important;

	}
	.AboutPage .slimScrollDiv {
		width:100% !important
	}
	 .ContectButton {
		 display:none;
	 }
	 .HeaderMenu {
		position: fixed;
		z-index: 999;
		width: 100%;
		height: 100%;
		background: rgba(51,101,171,0.9);
		display:block;
		padding-top:100px;
		top:-100%;
		transition:0.5s
	} 
	.ShowMenu .HeaderMenu {
		top:0;
		transition:0.5s
	}
	.ShowMenuInside .HeaderMenu {
		top:0;
		transition:0.5s
	}
	.HeaderMenu ul {
		padding:0
	}
	.HeaderMenu li {
		list-style:none;
		display:inline-block;
		width:100%;
	}
	.HeaderMenu li a {
		color:#fff;
		font-family: GothamBold;
		font-size:25px; 
		width:100%;
		text-align:center;
		display:inline-block;
		line-height: 60px;
	}
	.HeaderMenu li a:after {
		display:none;
	}
	.Header {
		position:fixed;
		top:0;
		left:0;
		z-index:999999
	}
	.Header .logo {
		margin-left:0;
		font-size:17px;
		background-size: 108px !important;
		padding-top: 74px !important;
	}
	.HomePage .Header {
		top:0;
		z-index:99999999999999;
	}
	.HomePage .Header .logo {
		top:35px;
	}
	
	/*
	.slide .SlideContent {
		top:20%
	}
	.slide .SlideContent {
		transform: translate(25px, -65%) !important;
	}
	.slide .SlideContentHeadings h2 {
		font-size:28px;
	}
	.slide .SlideContentHeadings p {
		font-size:20px;
	}
	
	.SlideArrow:after {
		content: '';
		width: 90px; 
		left: -4px;
		top: -27px; 
	}
	*/
	
	.AtoriContainer {
		padding-left:15px;
		padding-right:15px;
	}
	.ContactPage {
		padding-right:0;
	}
	.ContactPage .ContactForm {
		margin-bottom:13px;
	}
	.ContactButtons {
		margin-top:15px;
	}
	.ContactButtons .col-sm-6 {
		display:inline-block;
		width:50%;
		float:left;
	}
	
	.ContactMapDiv {
		height:260px !important;
		margin-bottom:15px
	}
	.ApartRightDiv .ContactMapDiv {
		height:100% !important
	}
	
	.MainSection {
		height:auto;
		padding-top:85px;
	}
	
	.AboutPage .AboutInfo {
		width:100%;
		padding:15px;
		padding-top:0;		
	}
	.AboutPage .AboutInfo .row {
		margin-left:-5px;
		margin-right:-5px;
	}
	.AboutPage .AboutInfo .col-sm-4 {
		width: 33.33333333%;
		display: inline-block;
		float: left;
		padding-left:5px;
		padding-right:5px;
	}
	
	.AboutPage .AboutInfo .AvardsInfo .Item {
		height:auto;
		padding-left:0
	}
	.AboutPage .AboutInfo .AvardsInfo .Item label {
		width:100%;
		text-align:center;
		margin-bottom:0;
		position: relative;
		top: 10px;
	}
	.AboutPage .AboutInfo .AvardsInfo .Item span {
		display: inline-block; 
		padding-left: 5px;
		padding-right: 5px;
		width: 100%;
		font-size: 14px;
		text-align: center;
	}
	.AboutPage .AboutImage {
		width:100%;
		margin-top:15px;
	}
	.AboutPage .AboutImage .Image {
		margin-left:0;
	}
	.AboutPage .AboutImage .CorporateBrochure {
		top:15px;
		left:15px;
	}
	
	.MainSection {
	 
	}
	
	.OnGoingDiv {
		margin-top:0px
	}
	.OnGoingDiv a {
		display:inline-block;
		margin-top:15px;
	}
	.OnGoingDiv .Item {
		border:solid #fff 15px;
	}
	.OnGoingDiv .row {
		height:auto;
		  
	}
	.OnGoingDiv .Item .Title {
		top: 15px;
		font-size: 16px;
	}
	.OnGoingDiv .Item .Text {
		width:80%;
		font-size:13px;
	}
	.ProjectListDiv {
		padding-right:0;
	}
	.ProjectListDiv .TabButtons {
		display: inline-block;
		width: 100%;
	}
	.ProjectListDiv .TabButtons li { 
		display: inline-block;
		float: left;
		width: 50%;
	}
	.ProjectListDiv .TabButtons a {
		width: 100%;
		display: inline-block;
		text-align:center;
		font-size:15px;
		padding-left: 35px;
		padding-right: 35px;
	}
	
	
	.ComplatedDiv {
		margin-top:0;
		height:auto;
	}
	.ComplatedDiv .row {
		height:auto;
		margin-left:0;
		margin-right:0
	}

	
	.ProjectInside {
		height:auto;
		/*overflow-y:scroll*/
	}
	.ApartamentInfo {
		padding-left:15px;
		padding-right:15px;
	}
	.ApartamentInfo .container-fluid {
		padding-left:0;
	}
	
	
	
	.ApartamentDiv {
		height: 100%;
		width: 100%;
		display: inline-block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.ProjectInside {
		margin-top: 70px;
	}
	.ApartamentInfo .InfoBox {
		margin-top:8px;
	}
	.ApartamentInfo .row {
		display:block;		 
	}
	.ApartamentInfo {
		position:relative;
	}
	
	
	.ComplatedDivInfo {
		display: inline-block;
		margin-top: 15px;
	}
	.ComplatedDivInfo img {
		height: auto;
		width: 100%;
	}
	.ApartamentInfo .InfoBox .Content .Features .row {
		width:104%;
	}
	.ApartamentInfo .InfoBox .Content .Features .col-sm-4 {
		display:inline-block;
		width:33.33333333333333%;
		float:left;
	}
	.ApartamentInfo .InfoBox .Content .Features .Item .Number {
		font-size: 20px;
	}
	.ApartamentInfo .InfoBox .Content .Features .Item .Name {
		margin-top: 2px;
		font-size:13px !important;
	}
	.ApartamentInfo .col-sm-8 {
		position:inherit
	}
	
	.ApartRightDiv {
		padding: 35px 15px 30px 15px;
	}
	.ApartRightDiv .CloseApartDiv {
		width:25px;
		height:25px;
		top: -6px;
		right: 13px;
	}
	
	
	.AtoriLogoBottom {
		height:100px;
	}
	
	.slide .SlideContent {
		transform: translate(30px, -15%);
		z-index:999999;
		width: 87% !important;
		max-width: 87% !important;
 	}
	.slide .SlideContentHeadings h2 {
		font-size:27px;
		
	}
	.slide .SlideContentHeadings p {
		font-size:23px;
	}
	.SlideArrow {
		margin-top:-20px;
		left:70px;
	}
	
	
	.ApartInfoBox .Info ul {
		margin-top:15px;
	}
	
	.ApartamentInfo .RightIcons {
		position:relative;
		left:0;
		top:0;
		display:inline-block;
		width:100%;
		background: rgba(0,186,255,0.8);
		padding:0px 15px 15px 15px;    
		margin-bottom: 20px;
	}

	.ApartamentInfo .RightIcons .OpenGallery {
		width:calc(33.33333333333333% - 5px);
		display:inline-block;
		float:left;
		border:solid #fff 1px;
	}
	.ApartamentInfo .RightIcons .OpenLocation {
		width:calc(33.33333333333333% - 5px);
		display:inline-block;
		float:left;
		border:solid #fff 1px;
		margin-left: 7.5px;
	}
	.ApartamentInfo .RightIcons .OpenTerms {
		width:calc(33.33333333333333% - 5px);
		display:inline-block;
		float:left;
		border:solid #fff 1px;
		margin-left: 7.5px;
	}
	
	.ApartamentInfo .RightIcons li {
		padding-top: 9px;
		padding-bottom: 4px;
	}
	.ApartamentInfo .RightIcons li span {
		font-size:11.5px !important;
	}
	.ApartamentInfo .RightIcons li .Icon.Gallery {
		height:35px;
		width: 39px;
	}
	.ApartamentInfo .RightIcons li .Icon.Location {
		height:35px;
		width:26px;
	}
	.ApartamentInfo .RightIcons li .Icon.Terms {
		height:35px;
		width: 26px;
	}
	
	
	.ApartamentInfo .InfoBox .Content .Features .Item .Number {
		top:3px;
	}
	.ApartamentInfo .InfoBox .Content .Features .Item.Stories .Icon {
		width:27px;
		height:22px;
		background-size:27px 22px !important;
	}
	.ApartamentInfo .InfoBox .Content .Features .Item.Recreation .Icon {
		width:30px;
		height:25px;
		background-size:30px 25px !important;
	}
	.ApartamentInfo .InfoBox .Content .Features .Item.Parking .Icon {
		width:30px;
		height:25px;
		background-size:30px 25px !important;
	}
	
	
	.ApartamentInfo .InfoBox .Content .Features .Item{
		height:45px;
	}

	
	.ComplatedDiv:after {
		width:100%;
		left:0;
		bottom:0;
		height: 20%;
	}
	
	
	.MapAreaDiv {
		 position:relative;
		 left:0; 
	}
	/* 
	.MapAreaDiv:after {
		content:'';
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		background:transparent;
	}
	*/
	
	.tooltip_3 {
		display:none !important
	}
	 
	.MapAreaDiv .map {
		width:100%;
	}
	.SmallImages .row {
		width:100%;
	}
	.ApartGallery .BigImages {
		height: calc(100% - 62px);
	}
	
	.ContactMapDiv {height:100%;}
	.MobileStyle {overflow:hidden !important;}
	.MobileStyle .ProjectInside {height:100%}
	.MobileStyle .ApartRightDiv {position:fixed; height:calc(100% - 69px); margin-top:-1px; top:70px; z-index:99999999999999999}
	
	
	.MobileSelectFloor {
		margin-top:15px;
		display:inline-block;
		width:100%;
		overflow:hidden;
		position:relative
	}
	.MobileSelectFloor select {
		width:100%;
		height:52px;
		position:absolute;
		top:0;
		left:0;
		z-index:99;
		opacity:0
	}
	.MobileSelectFloor .ApartInfoBox  {
		width:100%; 
		display:inline-block;
	}
	.MobileSelectFloor .ApartInfoBox .NumbersDiv {
		width: 100%;
		display: inline-block;
	}
	.MobileSelectFloor .ApartInfoBox .NumbersDiv .FloorNumber {
		width:50px; 
	}
	.ApartInfoBox .NumbersDiv .ApartNumber {
		font-size:14px
	}
	.MobileSelectFloor .ApartInfoBox .NumbersDiv .ApartNumber {
		font-size:14px;
		width:calc(100% - 122px);
	}
	
	#ApartamentModal .NumbersDiv .ApartNumber {
		font-size:14px;
		width:calc(100% - 85px) !important;
	}
	.MobileSelectFloor .ApartInfoBox .NumbersDiv .Floor {
		display: inline-block;
		float: left;
		width: 70px;
		height: 52px;
		line-height: 50px;
		color: #999;
		font-family: NotoSansBold;
		background:#fcff00;
		font-size: 35px;
		padding-left: 8px;
		position:relative;
	}
	/*
	.MobileSelectFloor .ApartInfoBox .NumbersDiv .Floor:after {
		content:'';
		width:10px;
		height:7px;
		background:url(../../images/arrow_up_1.png) no-repeat;
		background-size:100% 100%;
		position:absolute;
		right:7px;
		bottom:10px;
	}
	.MobileSelectFloor .ApartInfoBox .NumbersDiv .Floor:before {
		content:'';
		width:10px;
		height:7px;
		background:url(../../images/arrow_down_1.png) no-repeat;
		background-size:100% 100%;
		position:absolute;
		right:7px;
		top:10px;
	}
	*/
	.MobileSelectFloor .ApartInfoBox .NumbersDiv .Floor .fa {
		margin-left:10px;
	}
	.MobileSelectFloor .ApartInfoBox .NumbersDiv .Floor .fa:before {
		content: "\f0d7";
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 55px;
		color: #000;
	}
	
	 
	 
	.ApartInfoBox {
		 width: 100%;
		 overflow:scroll;
	} 
	#ApartamentModal .modal-body {
		overflow:scroll;
	}
	
	.ApartFirstModal .col-sm-6 {
		height:auto
	}
	.ApartFirstModal {
		padding: 20px 0px 30px 0px;
	}
	
	.FloorFirstModal {
		height:auto;
		padding: 15px 0px 30px 0px;
	}
	.FloorFirstModal .col-sm-6 {
		padding:0
	}
	.FloorFirstModal .ApartInfoBox {
		display:inline-block;
	}
	.FloorFirstModal .FloorImageDiv {
		padding-left: 10px;
		padding-right: 0px;
		margin-top: 40px;
		width:100%;
	}
	.tooltip {
		display:none !important
	}
	.modal {
		z-index: 9999999;
	}
	.MyModal .Close {
		width: 35px;
		height: 35px; 
		top: 10px;
		right: 10px;
	}
	.MyModal .Close:before,
	.MyModal .Close:after {
		left: 6px;
		top: 12.5px;
	}
	.ApartInfoBox.ApartInfoBox222 {
		width:100%;
	}
	.ApartInfoBox.ApartInfoBox222 .NumbersDiv .ApartNumber {
		font-size:13px;
	}
	.ApartInfoBox.ApartInfoBox333 .NumbersDiv .ApartNumber {
		font-size:14px;
		overflow:hidden;
		width:calc(100% - 160px) !important
	}
	.ApartInfoBox .NumbersDiv .FloorNumber {
		padding-left:42px;
		width:85px;
		font-size: 33px;
		background-size:33px;
	}
	.ApartInfoBox .NumbersDiv .Sold {
		width:75px;
		font-size: 14px;
		line-height: 20px;
	}
	
	
	.ApartInfoBox .NumbersDiv .FloorNumber:after,
	.ApartInfoBox .NumbersDiv .FloorNumber:before {
		display:none;
	}
	
	
	.slide .slide__img {
		height:100%;
	}
	.slide .slide__img img {
		object-position: 3px;
	}
	
	.slide .slide__img img {
		object-position: -352px;
	}
	
	.slide:nth-child(2) .slide__img img {
		object-position: -352px;
	}
	
	
	
	.MobileLanguage {
		display:block;
		width:100%;
		margin-left:0;
		text-align:center;
		border-top:solid rgba(255,255,255,0.5) 1px;
		margin-top: 30px;
		padding-top: 30px;
	}
	.MobileLanguage a {
		width:45px;
		height:45px;
		border:solid #fff 1px;
		border-radius:100%;
		color:#fff;
		text-align:center;
		line-height:42.5px;
		font-family:GothamBold;
		text-transform:uppercase;
		display:inline-block;
		cursor:pointer;
		margin-top:9px;
		transition:0.5s;
		z-index:99;
		text-decoration:none;	
		margin-left:10px;
		margin-right:10px;		
	}
	.MobileLanguage a:hover,
	.MobileLanguage a.active	{
		background:#fff;
		color:#000
	}
	
	
 
	.OnGoingDiv .col-sm-6 {
		margin-bottom:0
	}
	
	
	
/* 00000000000000000000000000000 */ 
.apert_294 {position:absolute; top:191px; left:17px; width:140px; text-align:center;}
.apert_295 {position:absolute; top:205px; left:113px; width:140px; text-align:center;}
.apert_296 {position:absolute; top:50px; left:97px; width:140px; text-align:center;} 
.apert_297 {position:absolute; top:37px; left:195px; width:140px; text-align:center;} 
.apert_298 {position:absolute; top:155px; left:197px; width:140px; text-align:center;} 
	
/* 1111111111111111111111111111 */ 
.apert_217 {position:absolute; top:214px; left:-5px; width:140px; text-align:center;} 
.apert_218 {position:absolute; top:270px; left:37px; width:140px; text-align:center;} 
.apert_219 {position:absolute; top:258px; left:99px; width:140px; text-align:center;} 
.apert_220 {position:absolute; top:262px; left:196px; width:140px; text-align:center;} 
.apert_221 {position:absolute; top:169px; left:207px; width:140px; text-align:center;} 
.apert_222 {position:absolute; top:86px; left:217px; width:140px; text-align:center;} 
.apert_223 {position:absolute; top:26px; left:162px; width:140px; text-align:center;} 
.apert_224 {position:absolute; top:99px; left:105px; width:140px; text-align:center;}		
 	
/* 2222222222222222222222222222 */ 
.apert_231 {position:absolute; top:214px; left:-5px; width:140px; text-align:center;} 
.apert_232 {position:absolute; top:270px; left:37px; width:140px; text-align:center;} 
.apert_230 {position:absolute; top:258px; left:99px; width:140px; text-align:center;} 
.apert_229 {position:absolute; top:262px; left:196px; width:140px; text-align:center;} 
.apert_228 {position:absolute; top:169px; left:207px; width:140px; text-align:center;} 
.apert_227 {position:absolute; top:86px; left:217px; width:140px; text-align:center;} 
.apert_226 {position:absolute; top:26px; left:162px; width:140px; text-align:center;} 
.apert_225 {position:absolute; top:99px; left:105px; width:140px; text-align:center;}  
	
 /* 333333333333333333333333333 */ 
.apert_239 {position:absolute; top:214px; left:-5px; width:140px; text-align:center;} 
.apert_240 {position:absolute; top:270px; left:37px; width:140px; text-align:center;} 
.apert_238 {position:absolute; top:258px; left:99px; width:140px; text-align:center;} 
.apert_237 {position:absolute; top:262px; left:196px; width:140px; text-align:center;} 
.apert_236 {position:absolute; top:169px; left:207px; width:140px; text-align:center;} 
.apert_235 {position:absolute; top:86px; left:217px; width:140px; text-align:center;} 
.apert_234 {position:absolute; top:26px; left:162px; width:140px; text-align:center;} 
.apert_233 {position:absolute; top:99px; left:105px; width:140px; text-align:center;} 	
	
 /* 444444444444444444444444444 */ 
.apert_247 {position:absolute; top:214px; left:-5px; width:140px; text-align:center;} 
.apert_248 {position:absolute; top:270px; left:37px; width:140px; text-align:center;} 
.apert_246 {position:absolute; top:258px; left:99px; width:140px; text-align:center;} 
.apert_245 {position:absolute; top:262px; left:196px; width:140px; text-align:center;} 
.apert_244 {position:absolute; top:169px; left:207px; width:140px; text-align:center;} 
.apert_243 {position:absolute; top:86px; left:217px; width:140px; text-align:center;} 
.apert_242 {position:absolute; top:26px; left:162px; width:140px; text-align:center;} 
.apert_241 {position:absolute; top:99px; left:105px; width:140px; text-align:center;} 	
	
 /* 555555555555555555555555555 */ 
.apert_255 {position:absolute; top:214px; left:-5px; width:140px; text-align:center;} 
.apert_256 {position:absolute; top:270px; left:37px; width:140px; text-align:center;} 
.apert_254 {position:absolute; top:258px; left:99px; width:140px; text-align:center;} 
.apert_253 {position:absolute; top:262px; left:196px; width:140px; text-align:center;} 
.apert_252 {position:absolute; top:169px; left:207px; width:140px; text-align:center;} 
.apert_251 {position:absolute; top:86px; left:217px; width:140px; text-align:center;} 
.apert_250 {position:absolute; top:26px; left:162px; width:140px; text-align:center;} 
.apert_249 {position:absolute; top:99px; left:105px; width:140px; text-align:center;} 	
		
 /* 666666666666666666666666666 */ 
.apert_263 {position:absolute; top:214px; left:-5px; width:140px; text-align:center;} 
.apert_264 {position:absolute; top:270px; left:37px; width:140px; text-align:center;} 
.apert_262 {position:absolute; top:258px; left:99px; width:140px; text-align:center;} 
.apert_261 {position:absolute; top:262px; left:196px; width:140px; text-align:center;} 
.apert_260 {position:absolute; top:169px; left:207px; width:140px; text-align:center;} 
.apert_259 {position:absolute; top:86px; left:217px; width:140px; text-align:center;} 
.apert_258 {position:absolute; top:26px; left:162px; width:140px; text-align:center;} 
.apert_257 {position:absolute; top:99px; left:105px; width:140px; text-align:center;} 	

 /* 777777777777777777777777777 */ 
.apert_271 {position:absolute; top:214px; left:-5px; width:140px; text-align:center;} 
.apert_272 {position:absolute; top:270px; left:37px; width:140px; text-align:center;} 
.apert_270 {position:absolute; top:258px; left:99px; width:140px; text-align:center;} 
.apert_269 {position:absolute; top:262px; left:196px; width:140px; text-align:center;} 
.apert_268 {position:absolute; top:169px; left:207px; width:140px; text-align:center;} 
.apert_267 {position:absolute; top:86px; left:217px; width:140px; text-align:center;} 
.apert_266 {position:absolute; top:26px; left:162px; width:140px; text-align:center;} 
.apert_265 {position:absolute; top:99px; left:105px; width:140px; text-align:center;} 
	

 /* 888888888888888888888888888 */ 
.apert_285 {position:absolute; top:130px; left:6px; width:140px; text-align:center;}
.apert_286 {position:absolute; top:193px; left:45px; width:140px; text-align:center;}
.apert_287 {position:absolute; top:193px; left:105px; width:140px; text-align:center;}
.apert_288 {position:absolute; top:139px; left:196px; width:140px; text-align:center;}	
	
	
	
 /* 999999999999999999999999999 */ 
.apert_273 {position:absolute; top:103px; left:-2px; width:140px; text-align:center;}
.apert_274 {position:absolute; top:166px; left:38px; width:140px; text-align:center;}
.apert_275 {position:absolute; top:166px; left:103px; width:140px; text-align:center;}
.apert_276 {position:absolute; top:112px; left:197px; width:140px; text-align:center;}	


 /* 10 10 10 10 10 10 10 10 10 */ 
.apert_277 {position:absolute; top:103px; left:-2px; width:140px; text-align:center;}
.apert_278 {position:absolute; top:166px; left:38px; width:140px; text-align:center;}
.apert_279 {position:absolute; top:166px; left:103px; width:140px; text-align:center;}
.apert_280 {position:absolute; top:112px; left:197px; width:140px; text-align:center;}


/* 11 11 11 11 11 11 11 11 11 */ 
.apert_281 {position:absolute; top:103px; left:-2px; width:140px; text-align:center;}
.apert_282 {position:absolute; top:166px; left:38px; width:140px; text-align:center;}
.apert_283 {position:absolute; top:166px; left:103px; width:140px; text-align:center;}
.apert_284 {position:absolute; top:112px; left:197px; width:140px; text-align:center;}
	
}

@media (min-width:992px) {
	.Hamburger {
		display:none;
	}
	.MobileLanguage {
		display:none;
	}
}


@media (max-width:1440px) {
	.ContactButtons a {
		font-size:15px !important;
		padding: 6px !important;
		padding-left:40px !important; 
	}
	.ContactButtons a.Facebook {  
		background-size: 17px 17px  !important;
		background-position: 12px 8px  !important;
		
	}
	.ContactButtons a.Messenger {  
		background-size: 17px 17px !important;
		background-position: 12px 8px  !important;	
	}
	 
	
}
@media (max-width:1440px) {
	.ApartInfoBox .Info .Total .Price {
		font-size:25px;
	}
	.ApartInfoBox .Info ul {
		padding-top:3px;
	}
	.ApartInfoBox .Info .Total .Name {
		font-size:18px;
	}
	.ApartInfoBox .Info {
		padding-bottom:10px;
	}
	.ApartInfoBox .Info .Size {
		font-size:22px;
	}
	.ApartInfoBox .Info ul li {
		font-size: 18px;
	}
	.ApartInfoBox .Info .Total {
		padding-top:0
	}
}

@media (max-width:640px) {
	 
}



	
@media screen and (max-width: 992px) and (orientation: landscape) {	
	body {overflow:hidden; width:100%; height:100%; }
	.MobileGif {
		width:100%;
		height:100%; 
		position:absolute;
		top:0;
		background:#000;
		left:0;
		text-align:center;
		z-index:99999999999999999999999;
	}
	   
	body:after {
		content:'';
		width:110%;
		height:110%;
		overflow:hidden;
		position:absolute;
		top:0;
		left:0;
		background:#000 url('../../images/rotate.gif') no-repeat;
		background-size:100px;
		background-position:center center;
		z-index:9999999999999999999999;
	}
}   
